<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="blobStorageConnection" value="DefaultEndpointsProtocol=https;AccountName=tollboothstorage2;AccountKey=SvPS9iY/B5uzsd4ltiVXMztlbjrk6qwv8i1WPgbNNOEnN60qc3tBCr05bQKHhdu1c9Jfl1P9HE7qSFNr005nAQ==;EndpointSuffix=core.windows.net" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>